.main{
  margin-top: 90px;
  max-width: 850px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
}

.expected-delivery-date{
  font-size: 24px;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 18px;
}

.product-image{
  max-width: 135px;
  margin-top: 25px;
}

.view-all-orders-link{
  margin-top: 20px;
  display: inline-block;
  color: rgb(1, 124, 182);
}

.view-all-orders-link:hover{
  color: rgb(196, 80, 0);
}

.product-info{
  margin-bottom: 3px;
}

.progress-labels-container{
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  font-weight: bold;
}

.current-status{
  color: green;
}

.progress-bar-container{
  height: 25px;
  border: 1px solid rgb(200, 200, 200);
  margin-top: 20px;
  border-radius: 20px;
  overflow: hidden;
}

.progress-bar{
  width: 50%;
  background-color: green;
  height: 100%;
  border-radius: 50px;
  animation: flow 3s linear normal;
}

@keyframes flow {
  0% {
    width: 0;
  }
  100%{
    width: 50%;
  }
}